# Git Ignore Configuration

# Local portable environments
.node-env/
.postgres-env/

# Java/Spring Build files
.gradle/
build/
bin/
out/
target/

# Node/React Build files
node_modules/
dist/
.eslintcache

# IDE specific files
.idea/
.vscode/
*.local
*.suo
*.user

# Log files
*.log

# Temp files
*.zip
*.tmp
